/* panel style */
.dt-media label {
	line-height: 26px;
	margin-right: 5px;
}
select.button {
	-webkit-appearance: caret;
}
.button .dashicons {
	color: #82878c;
	line-height: 26px;
}
.button[disabled] .dashicons {
	color: #ccc;
}

.dt-media .wp-media-buttons { float:right; }
.dt-media .wp-media-buttons-icon { vertical-align: text-top; }
.dt-media .wp-media-buttons-icon:before {
	font: 400 18px/1 dashicons;
	speak: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	content: "\f104";
}

/* attachments wrap */
.dt-media .attachments {
	background: #f9f9f9;
	overflow: hidden;
	padding: 8px 2px;
	margin: 10px 0;
	border: 1px solid #e5e5e5;
}
.attachment .item {
	padding: 4px;
	background: #eee;
	-webkit-box-shadow: inset 0 0 15px rgba(0,0,0,.1), inset 0 0 0 1px rgba(0,0,0,.05);
	box-shadow: inset 0 0 15px rgba(0,0,0,.1), inset 0 0 0 1px rgba(0,0,0,.05);
}
.attachment .remove {
	padding: 4px;
	position: absolute;
	top: 10px;
	right: 10px;
	z-index: 5;
	cursor: pointer;
	color: #ed3020;
	opacity: 0;
	height: 0;
	text-shadow: 2px 2px 6px #fff;
	transition: opacity ease 0.2s;
}
.attachment:hover .remove {
	opacity: 1;
	height: auto;
}
.attachment .crop {
	background: #fff;
	border: 1px solid #ccc;
	height: 140px;
	overflow: hidden;
	position: relative;
}
.attachment img {
	position: absolute;
	left: 50%;
	top: 50%;
	height: 90%;
	width: auto;
	-webkit-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
}
.attachment img.portrait {
	width: 90%;
	height: auto;
}
.dt-media .attachments .attachment input,
.dt-media .attachments .attachment textarea {
	border: 1px solid #ccc;
}

/* tile */
.dt-media .attachments .attachment:hover input,
.dt-media .attachments .attachment input:focus {
	box-shadow: none;
	opacity: 1;
}
.dt-media .attachments > div {
	box-sizing: border-box;
	width: 24.8%;
	padding: 8px;
	margin: 0;
}
.dt-media .attachments .attachment input {
	width: 100%;
	outline: none;
	opacity: 0.6;
	margin: -1px 0 0;
}
.dt-media .attachments .attachment input.item-link,
.dt-media .attachments .attachment textarea {
	display: none;
}
@media (max-width: 600px){
	.dt-media .attachments > div {
		width: 49.6%;
	}
	.dt-media label {
		display: none;
	}
}

/*list*/
.dt-media.list .attachments > div {
	width: 100%;
	padding: 8px 8px 0;
}
.dt-media.list .attachments .attachment .crop {
	width: 25%;
	float: left;
}
.dt-media.list .attachments .attachment .item {
	position: relative;
	overflow: hidden;
}
.dt-media.list .attachments .attachment input.item-link,
.dt-media.list .attachments .attachment textarea {
	display: inline-block;
}
.dt-media.list .attachments .attachment input {
	width: 73%;
	margin-top: 0px;
}
.dt-media.list .attachments .attachment textarea {
	width: 73%;
    resize: none;
    margin: 2px 0 0;
}
.dt-media.list .attachments .attachment .remove {
	right: auto;
	top: 0;
	left: 0px;
	color: #ed3020;
}

/* settings */
#main_settings table,
#side_settings table {
	    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
    border-collapse: collapse;
    background-color: transparent;
}
#main_settings table td,
#main_settings table th {
	padding: .75rem;
    vertical-align: top;
}
#main_settings table tr + tr td,
#main_settings table tr + tr th {
	border-top: 1px solid #eceeef;
}
#main_settings input[type='checkbox']{
	float:left;
	margin-right: 15px;
}

/* side metabox */
table.side-settings td,
table.side-settings th {
	vertical-align: middle;
	padding: .25rem;
}
#side_settings .description {
	display: none;
}
/*tr#style_path > td {
	display: none;
}*/

#shortcode, #shortcode:hover, #shortcode:focus {
	font-size: 13px;
	outline: none;
	box-shadow: none;
	border: 0;
	background: #fff;
}
.wrap-sc {
	background: #fff;
	padding: 4px 10px;
	border: 1px solid #ddd;
	border-left: 2px solid #5b9dd9;
	padding-left: 10px;
	margin: 5px 0 0;
}
.wrap-sc label {
	line-height: 24px;
	float: right;
}
.wrap-sc label input[type="checkbox"]{
	margin-left: 6px;
}

input[type="number"] {
	width: 80px;
}