/* panel style */
#attachments.postbox label {
	line-height: 26px;
	margin-right: 5px;
}
select.button {
	-webkit-appearance: caret;
}
.button .dashicons {
	color: #82878c;
	line-height: 26px;
}
.button[disabled] .dashicons {
	color: #ccc;
}

#attachments.postbox .wp-media-buttons { float:right; }
#attachments.postbox .wp-media-buttons-icon { vertical-align: text-top; }
#attachments.postbox .wp-media-buttons-icon:before {
	font: 400 18px/1 dashicons;
	speak: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	content: "\f104";
}

#attachments.postbox ul.attachments {
	border: 1px solid #ddd;
	overflow: hidden;
	margin-top: 10px;
}
#attachments.postbox ul.attachments li input {
	width: 100%;
	border: 1px dashed #c1c1c1;
	border-top: none;
	position: relative;
	left: -1px;
}
#attachments.postbox ul.attachments li.attachment:hover .check {
	display: block;
}
#attachments.postbox ul.attachments li.attachment:hover .check .media-modal-icon {
	background-position: -99px 0;
}

/* settings */
#main_settings table,
#side_settings table {
	    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
    border-collapse: collapse;
    background-color: transparent;
}
#main_settings table td,
#main_settings table th {
	padding: .75rem;
    vertical-align: top;
}
#main_settings table tr + tr td,
#main_settings table tr + tr th {
	border-top: 1px solid #eceeef;
}
#main_settings input[type='checkbox']{
	float:left;
	margin-right: 15px;
}

/* side metabox */
table.side-settings td,
table.side-settings th {
	vertical-align: middle;
	padding: .25rem;
}
#side_settings .description {
	display: none;
}
/*tr#style_path > td {
	display: none;
}*/

#shortcode, #shortcode:hover, #shortcode:focus {
	font-size: 13px;
	outline: none;
	box-shadow: none;
	border: 0;
	background: #fff;
}
.wrap-sc {
	background: #fff;
	padding: 4px 10px;
	border: 1px solid #ddd;
	border-left: 2px solid #5b9dd9;
	padding-left: 10px;
	margin: 5px 0 0;
}
.wrap-sc label {
	line-height: 24px;
	float: right;
}
.wrap-sc label input[type="checkbox"]{
	margin-left: 6px;
}

input[type="number"] {
	width: 80px;
}