/* panel style */
#attachments.postbox label {
	line-height: 26px;
	margin-right: 5px;
}
select.button {
	-webkit-appearance: caret;
}
.button .dashicons {
	color: #82878c;
	line-height: 26px;
}
.button[disabled] .dashicons {
	color: #ccc;
}

#attachments.postbox .wp-media-buttons { float:right; }
#attachments.postbox .wp-media-buttons-icon { vertical-align: text-top; }
#attachments.postbox .wp-media-buttons-icon:before {
	font: 400 18px/1 dashicons;
	speak: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	content: "\f104";
}

#attachments.postbox ul.attachments {
	padding: 10px;
	border: 1px solid #ddd;
	overflow: hidden;
	margin-top: 10px;
}
#attachments.postbox ul.attachments li {
	width: 20%;
}
#attachments.postbox ul.attachments li .item-content,
#attachments.postbox ul.attachments li .item-link-wrap {
	display: none;
}

#attachments.postbox ul.attachments.detail li {
	width: 100%;
}
#attachments.postbox ul.attachments.detail li .thumbnail-wrap {
	float: left;
	width: 145px;
	max-width: 21%;
}
#attachments.postbox ul.attachments.detail li .attachment-preview {
	height: 145px;
}
#attachments.postbox ul.attachments li .item-excerpt {
	width: 100%;
	border: 1px solid #ddd;
	border-top: none;
	position: relative;
	left: -1px;
}
#attachments.postbox ul.attachments.detail li .item-content,
#attachments.postbox ul.attachments.detail li .item-link-wrap {
	position: relative;
	display: block;
	width: 78%;
	float: right;
	margin-right: 0px;
}
#attachments.postbox ul.attachments.detail li .item-content {
	padding: 6px;
	height: 145px;
}
#attachments.postbox ul.attachments.detail li .item-link {
	padding-right: 140px;
	width: 100%;
	border: 1px solid #ddd;
	border-top: none;
	position: relative;
	left: -1px;
}
#attachments.postbox ul.attachments.detail li .open-blank {
	position: absolute;
	right: 0;
	top: -1px;
}
#attachments.postbox ul.attachments.detail li .open-blank input {
	margin-left: 5px;
}

ul.attachments.detail li.attachment .check.remove {
	left: 0;
}
li.attachment .check.remove .media-modal-icon {
	background-position: -40px 0;
}
li.attachment:hover .check.remove {
	display: block;
}


/* settings */
#main_settings table,
#side_settings table {
	    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
    border-collapse: collapse;
    background-color: transparent;
}
#main_settings table td,
#main_settings table th {
	padding: .75rem;
    vertical-align: top;
}
#main_settings table tr + tr td,
#main_settings table tr + tr th {
	border-top: 1px solid #eceeef;
}
#main_settings input[type='checkbox']{
	float:left;
	margin-right: 15px;
}

/* side metabox */
#side-sortables .form-table {
	table-layout: fixed;
}
#side-sortables .form-table td,
#side-sortables .form-table th {
	vertical-align: middle;
	padding: .25rem;
}
#side-sortables .form-table td input {
	max-width: 100%;
}
#side-sortables .form-table th {
	width: 80px;
}

#side_settings .description {
	display: none;
}
/*tr#style_path > td {
	display: none;
}*/

#shortcode, #shortcode:hover, #shortcode:focus {
	font-size: 13px;
	outline: none;
	box-shadow: none;
	border: 0;
	background: #fff;
}
.wrap-sc {
	background: #fff;
	padding: 4px 10px;
	border: 1px solid #ddd;
	border-left: 2px solid #5b9dd9;
	padding-left: 10px;
	margin: 5px 0 0;
}
.wrap-sc label {
	line-height: 24px;
	float: right;
}
.wrap-sc label input[type="checkbox"]{
	margin-left: 6px;
}

input[type="number"] {
	width: 80px;
}